[submodule "Jayanti Totti Andhina"]
	path = Jayanti Totti Andhina
	url = https://github.com/JayantiTA/mobile-programming.git
[submodule "Muhammad Dzikri Fakhrizal Syairozi"]
	path = Muhammad Dzikri Fakhrizal Syairozi
	url = https://github.com/dzikrisyairozi/mobile-programming.git
[submodule "Izzulhaq Fawwaz Syauqiy"]
	path = Izzulhaq Fawwaz Syauqiy
	url = https://github.com/IzzulhaqFS/tugas-ppb-2023.git
[submodule "Khaela Fortunela"]
	path = Khaela Fortunela
	url = https://github.com/fortunelagit/mobile-programming.git
[submodule "Anak Agung Yatestha Parwata"]
	path = Anak Agung Yatestha Parwata
	url = https://github.com/Soretaka/PPB.git
[submodule "Ega Prabu Pamungkas"]
	path = Ega Prabu Pamungkas
	url = https://github.com/feratyusa/tugas-ppb.git
