[submodule "Jayanti Totti Andhina"]
	path = Jayanti Totti Andhina
	url = https://github.com/JayantiTA/mobile-programming.git
[submodule "Muhammad Dzikri Fakhrizal Syairozi"]
	path = Muhammad Dzikri Fakhrizal Syairozi
	url = https://github.com/dzikrisyairozi/mobile-programming.git
[submodule "Izzulhaq Fawwaz Syauqiy"]
	path = Izzulhaq Fawwaz Syauqiy
	url = https://github.com/IzzulhaqFS/tugas-ppb-2023.git
[submodule "Khaela Fortunela"]
	path = Khaela Fortunela
	url = https://github.com/fortunelagit/mobile-programming.git
[submodule "Anak Agung Yatestha Parwata"]
	path = Anak Agung Yatestha Parwata
	url = https://github.com/Soretaka/PPB.git
[submodule "Ega Prabu Pamungkas"]
	path = Ega Prabu Pamungkas
	url = https://github.com/feratyusa/tugas-ppb.git
[submodule "Hansen Idden"]
	path = Hansen Idden
	url = https://github.com/hansenidden18/ppb.git
[submodule "Muh Nur Fajrin Amiruddin"]
	path = Muh Nur Fajrin Amiruddin
	url = https://github.com/fajrinam/mobile-programming.git
[submodule "Aji Wahyu Admaja Utama"]
	path = Aji Wahyu Admaja Utama
	url = https://github.com/wahyua26/mobile-programming-projects.git
[submodule "Luthfiyyah Hanifah Amari"]
	path = Luthfiyyah Hanifah Amari
	url = https://github.com/luthfiyyah-a/inputDialog_mobileApp.git
[submodule "Rizqi Rifaldi"]
	path = Rizqi Rifaldi
	url = https://github.com/Oblivion45/mobile-programming.git
[submodule "Yusuf Anfasya"]
	path = Yusuf Anfasya
	url = https://github.com/YusufAnfasya/Android_Projects_ITS.git
[submodule "Ingwer Ludwig Nommensen"]
	path = Ingwer Ludwig Nommensen
	url = https://github.com/ingwerludwig/PPB-Tugas.git
[submodule "Muhammad Afdal Abdallah"]
	path = Muhammad Afdal Abdallah
	url = https://github.com/afdalabdallah/tugas-PPB.git
[submodule "Achmad Fadhillah"]
	path = Achmad Fadhillah
	url = https://github.com/iamfadilahmad/tugasPPB.git
