[submodule "Jayanti Totti Andhina"]
	path = Jayanti Totti Andhina
	url = https://github.com/JayantiTA/mobile-programming.git
[submodule "Muhammad Dzikri Fakhrizal Syairozi"]
	path = Muhammad Dzikri Fakhrizal Syairozi
	url = https://github.com/dzikrisyairozi/mobile-programming.git
[submodule "Izzulhaq Fawwaz Syauqiy"]
	path = Izzulhaq Fawwaz Syauqiy
	url = https://github.com/IzzulhaqFS/tugas-ppb-2023.git
[submodule "Khaela Fortunela"]
	path = Khaela Fortunela
	url = https://github.com/fortunelagit/mobile-programming.git
[submodule "Anak Agung Yatestha Parwata"]
	path = Anak Agung Yatestha Parwata
	url = https://github.com/Soretaka/PPB.git
[submodule "Ega Prabu Pamungkas"]
	path = Ega Prabu Pamungkas
	url = https://github.com/feratyusa/tugas-ppb.git
[submodule "Hansen Idden"]
	path = Hansen Idden
	url = https://github.com/hansenidden18/ppb
[submodule "Muh Nur Fajrin Amiruddin"]
	path = Muh Nur Fajrin Amiruddin
	url = https://github.com/fajrinam/mobile-programming
[submodule "Aji Wahyu Admaja Utama"]
	path = Aji Wahyu Admaja Utama
	url = https://github.com/wahyua26/mobile-programming-projects
[submodule "Luthfiyyah Hanifah Amari"]
	path = Luthfiyyah Hanifah Amari
	url = https://github.com/luthfiyyah-a/inputDialog_mobileApp.git

